@{
    ViewData["Title"] = "Index";
}

<body>
<header>
</header>
main
<h1>home</h1>
<form action='@Url.Action("SelectIntegrante","Home")' method= "post">
<input type="text" name="email" value="ingresar email"/>
<input type="password" name="contraseña" value="ingresar contraseña"/>
<button type="submit" class="comenzar">Enviar respuesta</button>
</form>
</body>
