<body>
<header>
<a href='@Url.Action("MostrarDatosPersonales","Home")'> Inicio</a>
<a href='@Url.Action("Deslogearse","Home")'> Deslogearse</a>
</header>
<main>
<h1>Datos familiares</h1>
 @foreach(DatoInteres item in ViewBag.List2)
    {
        <h2>Tipo de interes:</h2>
        @if(item.TipoInteres == 1)
        {
            <h4>Hobby</h4>
        }
        else if(item.TipoInteres == 2)
        {
            <h4>Serie</h4>
        }
        else if(item.TipoInteres == 3)
        {
            <h4>Amigo</h4>
        }
        else if(item.TipoInteres == 4)
        {
            <h4>Gusto</h4>
        }

        <h2>Interes:</h2>
        <h4>@item.Interes</h4>

    }
</main>
</body>