<h1>Datos de interes de @ViewBag.Nombre </h1>
<ul>
<li>Hobbie: @ViewBag.Hobbies </li>
<li>Serie Favorita: @ViewBag.SeriesFavoritas </li>
<li>Fecha Gustos Escolares: @ViewBag.GustosEscolares </li>
</ul>
